<div class="jumbotron center">
<h1>Welcome to my app!</h1>
	<P>
	<%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</P>

</div>